@{
    ViewData["Title"] = "Produtos";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="tblData" class="table" style="width:100%">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Categoria
            </th>
            <th>
                Preço
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    
</table>

<!-- local para usar codigo javascript -->
@section Scripts {
    <script src="~/assets/js/delete.js"></script>
    <script src="~/assets/js/product.js"></script>
}